@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid p-0">
        <img class="" src="~/images/IMG_2910.jpg" />
    </div>
</div>

