@page
@model Nye_TaskList.Pages.ListDetailsModel
@{
}

@for (int i = 0; i < clsStaticInfo.ListTasks.Count; i++)
{ 
    <form>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Task Due Date</th>
                    <th>Task Status</th>
                </tr>
            </thead>
        </table>
    </form>
}

