@page
@model Nye_TaskList.Pages.LoginHomeModel
@{
    ViewData["Title"] = "LoginHome";
    int count = 1;
}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <table>
                <thead>
                    <tr>
                        <th style="width:125px" class="text-center"><h3></h3></th>
                        <th style="width:625px" class="text-center"><h3>List Name</h3></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @for (int i = 0; i < clsStaticInfo.UserLists.Count; i++)
    {
        clsStaticInfo.ListID = clsStaticInfo.UserLists[i].ListID.ToString();
        clsStaticInfo.ListName = clsStaticInfo.UserLists[i].ListName.ToString();
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row vw-100">
                    <form id="ListForm" asp-page-handler="Delete" method="post">
                        <table class="table m-0 pb-0">
                            <tbody>
                                <tr>
                                    <td style="min-width:150px" class="text-center">
                                        <label for="id">@count</label>
                                        <input type="hidden" id="id" name="listID" value="@clsStaticInfo.ListID" />
                                    </td>
                                    <td style="min-width:600px" class="text-center">
                                        <label>@clsStaticInfo.ListName</label>
                                    </td>
                                    <td style="min-width:200px" class="text-center"><button type="submit" class="btn btn-primary m-0">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <form id="DetailsForm" asp-page-handler="Details" method="post" class="m-0 p-0">
                        <input type="hidden" id="count" name="ListnumCount" value="@count" />
                        <hr class="text-info p-0 mb-2 m-0" />
                        <button type="submit" class="btn btn-primary m-0 mb-3 mt-1">Details</button>
                    </form>
                </div>
            </div>
            </div>
            count++;
        }

    <div class="row mt-5 justify-content-center" style="min-height:300px;">
        <div class="col-8 p-0">
            <a asp-page="/AddList" class="btn btn-primary m-0">Add a List</a>
        </div>
    </div>
</div>
<script>
    function DeleteList() {
        $.ajax({
            type: "POST",
            url: '/LoginHome?handler=Delete'
        });
    }
</script>