@page
@model Nye_TaskList.Pages.LoginHomeModel
@{
    int count = 1;
}
<table>
    <thead>
        <tr>
            <th>List Number</th>
            <th>List Name</th>
            <th></th>
        </tr>
    </thead>
</table>  
@for (int i = 0; i < clsStaticInfo.UserLists.Count; i++)
{
    clsStaticInfo.ListID = clsStaticInfo.UserLists[i].ListID.ToString();
    clsStaticInfo.ListName = clsStaticInfo.UserLists[i].ListName.ToString();

<form id="ListForm" asp-page-handler="Delete" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="id">@count</label>
                    <input type="hidden" id="id" name="listID" value="@clsStaticInfo.ListID" />
                </td>
                <td>
                    <label>@clsStaticInfo.ListName</label>
                </td>
                <td><button type="submit" class="btn btn-primary">Delete</button></td>
            </tr>
        </tbody>
    </table>
</form>
<form id="DetailsForm" asp-page-handler="Details" method="post">
    <input type="hidden" id="count" name="ListnumCount" value="@count" />
    <button type="submit" class="btn btn-primary">Details</button>
</form>
    count++;
}

<div>
    <a asp-page="/AddList" class="btn btn-primary">Add a List</a>
</div>
<script>
    function DeleteList() {
        $.ajax({
            type: "POST",
            url: '/LoginHome?handler=Delete'
        });
    }

    $("#id").val()
</script>